# Node server port number
PORT=8080
NODE_ENV=development

# Google drive credentials
# source credentials
DRIVE_SOURCE_CREDENTIAL_CLIENT_ID=
DRIVE_SOURCE_CREDENTIAL_CLIENT_SECRET=
DRIVE_SOURCE_CREDENTIAL_REDIRECT_URL=
DRIVE_SOURCE_CREDENTIAL_TOKEN=
# destination Credentials
DRIVE_DESTINATION_CREDENTIAL_CLIENT_ID=
DRIVE_DESTINATION_CREDENTIAL_CLIENT_SECRET=
DRIVE_DESTINATION_CREDENTIAL_REDIRECT_URL=
DRIVE_DESTINATION_CREDENTIAL_TOKEN=